<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <label class="TodoItem-container">
          <% if todo.completed %>
          <input class="TodoItem-checkbox" type="checkbox" checked/>
          <div class="TodoItem-completed"><%= todo.todo_text %></div>
          <% else %>
          <input class="TodoItem-checkbox" type="checkbox" />
          <%= todo.todo_text %>
          <% end %>
          <% if show_due_date %>
          <p class="TodoItem-date"><%= todo.due_date.to_s(:short) %></p>
          <% end %>
          <img class="TodoItem-delete" src="delete.png" />
        </label>
      </li>
    <% end %>
  </ul>
</section>
