<main class="TodoPageMain">
  <h1 class="TodoPage-title">My Todo-list</h1>
  <%= form_with(url: "/todos", method: "post", class: "AddTodo") do %>
    <%= text_field_tag "todo_text", nil, placeholder: "What's next?", class: "AddTodo-text", required: true %>
    <%= date_field_tag "due_date", nil, class: "AddTodo-date", required: true %>
    <%= submit_tag "Add", class: "AddTodo-button" %>
  <% end %>
  <%= render partial: "todo-section", locals: { section_title: "Overdue", todos: Todo.overdue.order_by_due_date, show_due_date: true } %>
  <%= render partial: "todo-section", locals: { section_title: "Due Today", todos: Todo.due_today.order_by_id, show_due_date: false } %>
  <%= render partial: "todo-section", locals: { section_title: "Due Later", todos: Todo.due_later.order_by_due_date, show_due_date: true } %>
</main>
